<center>
	<h3>Welcome to SocioPic</h3>
	<br>
	<div class="container">
	  <table class="table table-striped table-bordered" style= "width:475px">
	    <tbody>
	      <tr>
	        <td>The Public feed link lets you see <strong>all</strong> pictures on SocioPic.</td>
	      </tr>
	      <tr>
	        <td>The Private feed link shows pictures of <strong>users you're subscribed to</strong>.</td>
	      </tr>
	      <tr>
	        <td>You can subscribe or unsubscribe any user.</td>
	      </tr>
	       <tr>
	        <td>You can manage your pictures from My Pictures link.</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
<center>
